.PostShare {
  display: flex;
  background-color: var(--cardColor);
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.PostShare > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.PostShare > div > input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--inputColor);
  font-size: 17px;
}
.PostShare > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/*Option Buttons*/
.PostOptions {
  display: flex;
  justify-content: space-around;
}

.option {
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  display: flex;
  border-radius: 10px;
}
.option:hover {
  cursor: pointer;
}

.ps-button {
  padding: 5px;
  font-style: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.previewImage {
  position: relative;
}
.previewImage > svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
.previewImage>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}